<!DOCTYPE html>
<html lang="fr">

<head>

    <link rel="stylesheet" href="../assets/materialize/css/materialize.css">

</head>

<body class="container white-text">

    <h3>Affichage des informations</h3>

    <table class="formTable">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Note 1</th>
                <th>Note 2</th>
                <th>Note 3</th>
                <th>Note 4</th>
                <th>Moyenne</th>
            </tr>
        </thead>

        <tbody id="tableContent">

        </tbody>

    </table>



    <script src="../assets/js/loadDocs.js"></script>

</body>

</html>